<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739939746780-s7poqqq93qoo29t8e22nl7e31gpuptpi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739939746780-s7poqqq93qoo29t8e22nl7e31gpuptpi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>739939746780-gom5trd0vh17anqjbgburb13s4obcnlp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyADP7FWnIfJJj8r0VWNs_sc4EsuHYm7LFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>739939746780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.attuneattapp</string>
	<key>PROJECT_ID</key>
	<string>attune-10372</string>
	<key>STORAGE_BUCKET</key>
	<string>attune-10372.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739939746780:ios:3c8e161ffdb500200dc519</string>
</dict>
</plist>